<!-- Section Login atau Daftar -->
<section class="login">
    
    <div class="row-title-brand">
        <img src="/img/brand1.png" alt="">
    </div>
    <div class="row-username-text">
        <p> Email / Username</p>
    </div>
    <div class="row-input">
        <input type="text" class="field-user">
    </div>
    <div class="row-username-text">
        <p>Password</p>
    </div>
    <div class="row-password">
        
        <div class="col-field-pass">
            <input type="text" class="field-pass">
        </div>
        <div class="col-eye">
            <div class="pembungkus-eye">
                <img src="/img/eye.svg" alt="">
            </div>
        </div>
    </div>
    <div class="row-lupa-pass">
        <p>Lupa Password?</p>
    </div>
    <div class="row-btn-masuk">
        <button class="btn-login">
            Masuk
        </button>
    </div>
    <div class="row-pil">
        <p>atau masuk dengan</p>
    </div>
    <div class="row-pil-login">
        <div class="col-google">
            <a href="/auth/google">
                <img  src="/img/log-google.svg" alt="">
            </a>
        </div>
        <div class="col-fb">
            <a href="/auth/facebook">
                <img src="/img/log-fb.svg" alt="">
            </a>
        </div>
        <div class="col-github">
            <img src="/img/log-github.svg" alt="">
        </div>
    </div>
    <div class="row-daftar">
        <p>Belum Memiliki Akun? <span>Daftar</span></p>
    </div>

</section>